@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box ;
}
   

 body{   font-family: 'Quicksand', sans-serif;
    color: grey;
 }

header {
    background-color: grey;
}


header h1 {
    color: white;
    font-weight: 300;
    /* border: 2px solid white */
}

header .header-flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 10px;
}

header h1 #logoux{
    font-weight: 600;
    font-style: italic;
}

header nav{
    /* border: 2px solid white; */
}

header nav a {
    color: white;
    text-decoration: none;
}

.container-grid {
    width: 80%;
    margin: 0 auto;background-color: purple;
}

/* h2{
    width: 300px ;
    height: 300px ;
    border-top: 7px solid red;
    margin-top: 80px ;
    margin-right: 80px ;
    margin-left: 600px ;
    margin-bottom: 10px ;
    padding-top: 2px ;
    padding-right: ;
    padding-left: 30px ;
    padding-bottom:  ;
} */

/* MAIN */

main .coluna-flex{
    display: flex;
    justify-content: space-between;
}

main .coluna1{
    width: 75%;
    background-color: green;
}

main .coluna2{
    width: 20%;
    background-color: green;
}

main .coluna1 #imagem{
    width: 100%;
}

main section .título{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}



